
# Byte-compiled / optimized / DLL files
.DS*

# envs
env/
venv/
.[Ee][Nn][Vv]

# data
datasets/
cache/

# Models & Runs
mlruns/
*.joblib
*.pkl

# Python
__pycache__/
*.py[cod]
*$py.class

# Conda
.env/
.conda/
conda_env/
.ipynb_checkpoints/