daal4py==2024.7.0
pydantic==2.11.7
xgboost==2.1.4
fastapi==0.115.12 
numpy==2.2.3
pandas==2.2.3
scikit-learn-intelex==2025.4.0
uvicorn==0.34.2    
streamlit==1.45.1                        
mlflow==2.21.2  
